.shop {
  display: flex;
  width: 100%;
  position: relative; 
}

.products-container {
  margin-left: 230px; 
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 210px);
  gap: 15px;
}

.shop-loading-overlay {
  width: calc(100% + 250px);  
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #fff;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .products-container {
    margin-left: 200px;
    width: calc(100% - 200px);
    gap: 5px;
    row-gap: 15px;
    column-gap: 1px;
  }
  .products-container .text-page-wrapper {
    margin-left: 6rem;
  }
}

@media (max-width: 500px) {
  .products-container {
    justify-content: center;
    margin-left: 80px;
    width: calc(100% - 160px);
    grid-template-columns: repeat(auto-fit, 180px);
    padding: 1rem 1.5rem;
  }
  .products-container .text-page-wrapper {
    margin-left: 2rem;
  }
}