.card-wrapper {
  position: relative;
}

.product-card {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  max-width: 210px;
  margin: 0 auto;
  height: fit-content;
  background-color: white;
  transform-origin: center;
  will-change: transform, opacity;
  position: relative;
}

.product-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.image-wrapper {
  width: 100%;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.product-name {
  font-size: 16px;
  margin: 12px 0;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.product-price {
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0 12px;
  align-items: center;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 0.5rem;
}

.discount-price {
  color: #e53935;
  font-weight: bold;
}

.add-to-cart-btn {
  width: 100%;
  margin-top: auto;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.animate-to-cart {
  animation: addToCart 0.7s cubic-bezier(0.3, 0, 1, 1);
  pointer-events: none;
  z-index: 10001;
}

@keyframes addToCart {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(calc(var(--move-x) * 0.05), calc(var(--move-y) * 0.2)) scale(0.5);
    opacity: 0.7;
  }
  100% {
    transform: translate(var(--move-x), var(--move-y)) scale(0);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .product-card {
    width: 90%;
    max-height: 200px;
  }

  .image-wrapper {
      height: 150px;
  }

  .product-name {
      font-size: 14px;
      padding: 0 0.5rem;
  }

  .product-price {
      font-size: 14px;
      padding: 0 0.5rem;
  }

  .add-to-cart-btn {
      padding: 6px 12px;
      font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .card-wrapper {
    padding: 2px 0;
    max-width: 180px;
  }
  .product-card {
    min-width: 80px;
  }

  .image-wrapper {
      height: 100px;
  }

  .product-name {
      font-size: 14px;
      padding: 0 0.5rem;
      width: 90%;
  }

  .product-price {
      font-size: 14px;
      padding: 0 0.5rem;
  }

  .add-to-cart-btn {
    padding: 6px 12px;
    font-size: 0.9rem;
  }
}
