.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.modal-overlay.visible {
  opacity: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: var(--tennis-gray);
  max-width: fit-content;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.modal-content.visible {
  opacity: 1;
}

.modal-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-bottom: auto;
  align-self: flex-end;
  justify-self: flex-end;
  color: #5a5959;
  background-color: #d7d7d7;
  padding: 7px 12px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.modal-close-btn:hover {
  color: #333;
  background-color: #bebfbe;
}