.main-landing-container {
  display: flex;
  background-image: linear-gradient(to top, 
  rgba(0, 128, 0, 0.37) 0, var(--tennis-gray) 20rem);
}

.main-landing-container .shop-routes {
  flex-direction: column;
  min-width: 100px;
  max-width: 150px;
  margin-top: 0;
  
}

.main-landing-container .shop-landing-container {
  margin-top: 2rem;
}

.main-landing-container .text-page-wrapper {
  max-width: 500px;
  padding: 1rem;

}

.main-landing-app-container {
  display: flex;
  flex: 1 1 400px;
  overflow: hidden;
  padding: 2rem 1rem;

  height: calc(100vh - 130px)
}

.main-landing-app-container iframe {
  border-radius: 1rem; 
  max-height: 650px;
}