.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.popup-overlay.visible {
  opacity: 1;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: var(--tennis-gray);
  max-width: fit-content;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.popup-content.visible {
  opacity: 1;
}

.popup-header {
  padding-bottom: 1.5rem; 
  text-align: center;  
}
.popup-header-text {
  display: inline;
  margin-top: 0;
  color: #333;
}

.popup-close {
  color: #5a5959;
  background-color: #d7d7d7;
  padding: 7px 12px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  float: right;
  margin-top: 0px;
  transition: background-color 0.2s ease;
}

.popup-close:hover {
  color: #333;
  background-color: #bebfbe;
}

.promo-image {
  max-width: 100%;
  margin: 15px 0;
}

.promotion-products {
  display: flex;
  gap: 18px;
  justify-content: center;
}
.promotion-products .card-wrapper {
  width: 210px; 
  min-width: 210px;
}

@media (max-width: 768px) {
  .promotion-products .card-wrapper {
    min-width: 170px;
    max-width: 170px;
  }
  .promotion-products {
    gap: 0;
  }
  .popup-content {
    box-sizing: border-box;
    overflow: hidden;
  }
}

@media (max-width: 400px) {
  .promotion-products {
    flex-direction: column;
    align-items: center;
  }
  
  .promotion-products .card-wrapper {
    width: 180px;
    min-width: 180px;
  }
}