.auth-form-wrapper {
  display: flex;
  margin-bottom: auto;
  padding: 50px 30px;
  min-width: 350px;
  justify-content: center;
}

.auth-form {
  background-color: var(--tennis-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 25px 30px;
  flex-direction: column;
  text-align: left;
  min-height: 450px;
  min-width: 250px;
}

.auth-form h2 {
  align-self: flex-start;
  margin: 1rem;
}

.auth-landing-msg {
  padding: 2rem;
  margin-bottom: 2rem;
  font-weight: 450;
  white-space: nowrap;
  text-align: center;
} 
.auth-form .input-group {
  min-width: 200px;
}

.return-btn {
  background-color: rgba(152, 208, 83, 0.588);
  min-width: 40px;
  font-size: 1.7rem;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.return-btn:hover {
  transform: translateX(2px);
  background-color: rgba(152, 208, 83, 0.847);
  box-shadow: 0 4px 6px rgba(37, 99, 235, 0.15);
  transition: transform ease 0.5s, box-shadow ease 0.3s;
}
.auth-form-footer {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  width: 100%;
}
.auth-form-footer, .login-btn .register-btn {
  margin-right: 3rem;
}
.login-btn, .register-btn {
  margin-top: 8px;
  padding: 15px;
  min-width: 80px;
  max-width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}

.login-btn {
  background-color: #2563eb;
}

.login-btn:hover {
  background-color: #1d4ed8;
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(37, 99, 235, 0.15);
}

.register-btn {
  background-color: #f7e600; 
  color: #333; 
  border: 1px solid #e5c100;
}

.register-btn:hover {
  background-color: #e5c100; 
  color: #222;
  border-color: #d4af00;
  transform: translateY(-1px);
}

.login-signup-msg {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.762);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 450;
  min-width: 210px;
  max-width: 100%;
  word-break: break-word;
  max-height: 150px;
  overflow-y: auto;
  text-align: center;
}

@media (max-width: 500px) {
  .modal-close-btn {
    margin: 5px 30px;
  }
}